@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    background-color: wheat;
}

th {
    background-color: aquamarine;
}

table {
    border: 2px solid green;
}

td {
    border-top: 1px dotted green;
    text-align: center;
}

/* Selecting all elements with the class `code` and all `td` elements that are
the first child of their parent. */
.code {
    font-weight: bold;
    font-family: 'Fira Code', monospace;
    background-color: beige;
    font-size: small;
    font-weight: lighter;
}